<div class="w-80 flex flex-col text-label">
    @* Part over server list *@
    <div class="bg-forkBlue flex py-3 px-4 items-center">
        <div class="flex-1 flex flex-col">
            <span class="text-md leading-none">v1.0.0</span>
            <span class="text-xs">You are up to date</span>
        </div>
        @* TODO only show if update privilege is granted *@
        @if (true)
        {
            <IconButton IconChar="'r'" IconSize="19" NoBackground="true" OnClickMethod="TestClickHandler"></IconButton>
        }
    </div>

    @* Server List *@
    <div class="bg-forkBlue-light flex-1 mt-5 flex flex-col">
        @* Server *@
        <div class="flex-1">
            @foreach (var entity in Entities)
            {
                <Entity Value="@entity"></Entity>
            }
        </div>

        @* Controls *@
        <div class="flex justify-end gap-3 p-3">
            <IconButton IconChar="'I'" IconSize="19" Size="45"></IconButton>
            <IconButton IconChar="'C'" IconSize="19" Size="45"></IconButton>
        </div>
    </div>
</div>

@code
{
    private void TestClickHandler(IconButton button)
    {
        Console.WriteLine(button.IconChar);
    }
}