@inherits AbstractScreenComponent

<div class="flex flex-col h-full">
    @* Top Bar *@
    <div style="height: 50px" class="mb-5"></div>
    
    @* Main *@
    <div class="flex-1 bg-forkBlue max-w-5xl p-4">
        <span class="text-lg font-bold text-label">Create A Server</span>
        <div class="p-4">
            <span class="text-label">Server Type</span>
            <div></div>
            
            <span class="text-label">Choose Version & Build</span>
            <div></div>
        </div>
        
        <span class="text-lg font-bold text-label">Configure Basic Settings</span>
        <div class="p-4">
            
        </div>
    </div>
</div>

@code {
    
}