@using ProjectAveryCommon.Model.Entity.Pocos
@using ProjectAveryCommon.Model.Entity.Pocos.Player
<div class="h-full bg-forkBlue pt-3">
    @* Player count *@
    <span class="px-7 py-3 text-label-hover">@(Server?.ServerPlayers?.Count(p => p.IsOnline) ?? 0) / @(Server?.VanillaSettings?.MaxPlayers ?? 0) - Online</span>

    @* Player list *@
    <div class="h-full overflow-y-auto mt-3">
        @if (Server?.ServerPlayers != null)
        {
            Server.ServerPlayers.Sort();
            foreach (var player in Server.ServerPlayers)
            {
                <CascadingValue Value="this">
                    <PlayerComponent Value="player"></PlayerComponent>
                </CascadingValue>
            }
        }
    </div>
</div>

@code {

    [CascadingParameter]
    public IEntity? Entity { get; set; }

    private Server? Server => Entity as Server;

    public ServerPlayer? ActivePlayer { get; set; }

    public void SelectPlayer(PlayerComponent playerComponent)
    {
        ActivePlayer = playerComponent.Value;
        StateHasChanged();
    }

}