@page "/"

<CascadingValue Name="@nameof(SelectedEntity)" Value="SelectedEntity">
    <div class="flex flex-1 mx-6 my-10 gap-10 overflow-hidden">
        @* Sidebar *@
        <CascadingValue Name="@nameof(Entities)" Value="Entities">
            <Sidebar OnSelectEntity="OnSelectEntity"/>
        </CascadingValue>
        @* Content *@
        <div class="flex-1">
            @if (SelectedEntity != null)
            {
                <Entity></Entity>
            }
            else
            {
                @* TODO CKE Welcome Screen if no server exists *@
                <div></div>
            }
        </div>
    </div>
</CascadingValue>

@code {

}