// Fill colors
$fork-background: #151622;
$fork-main: #1D2030;
$fork-light: #292C3D;
$fork-ultra-light: #747AAC;
$fork-blue: #374FC3;

// Text
$fork-label: #8880A0;

$fork-heading: #94959E;
$fork-heading-focus: #E2E3E9;

// Colors
$green: #45C337;
$yellow: #C1C337;
$orange: #E0AC6C;
$red: #E06C6C;
