@inherits LayoutComponentBase

<div class="w-screen h-screen bg-forkBlue-dark flex flex-col">
    <Navbar/>

    @* Content *@
    <div class="flex flex-1 mx-6 my-10 gap-4">
        @* Sidebar *@
        <Sidebar/>
        @* Body *@
        <div class="flex-1">
            @Body
        </div>
    </div>
</div>

@code {

}