@inherits LayoutComponentBase

<div class="main w-screen h-screen bg-forkBlue-dark">
    <Navbar/>

    @* Content *@
    <div class="content">
        @* Sidebar *@
        <div class="sidebar">
            <Sidebar/>
        </div>
        @* Body *@
        <div class="body">
            @Body
        </div>
    </div>
</div>

@code {

}