@import "../wwwroot/css/colors";

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $fork-background;

  .logo {
    max-height: 80px;
    margin: 65px auto;
    width: 100%;
  }

  .content {
    display: flex;
    flex-grow: 1;
    margin: 30px; //TODO CKE apply design

    .sidebar {
      width: 300px;
    }

    .body {
      flex-grow: 1;
      margin-left: 20px;
    }
  }
}