@using ProjectAveryCommon.ExtensionMethods
@using ProjectAveryCommon.Model.Entity.Enums.Console
@using ProjectAveryCommon.Model.Entity.Pocos
@using ProjectAveryCommon.Model.Entity.Transient.Console
@using ProjectAveryCommon.Model.Notifications.EntityNotifications
@using ProjectAveryFrontend.Logic.Services.Notifications
@inject IJSRuntime _js
@inject INotificationService _notificationService

<div class="flex-1 flex flex-col console-out-container">
    @*Controls*@
    <div class="flex justify-between">
        <span style="width: 60px" content=" "></span>
        <span class="text-lg text-label font-bold p-3">Console</span>
        <div class="flex gap-3 mr-5 items-center">
            <IconButton Size="23" IconSize="22" NoBackground="true" IconChar="'F'"></IconButton>
            <IconButton Size="23" IconSize="22" NoBackground="true" IconChar="'O'"></IconButton>
        </div>
    </div>

    @* Console *@
    <div class="flex-1">
        <div id="@($"consoleScrollArea{Entity?.Id}")" class="clusterize-scroll p-3 overflow-ellipsis text-text overflow-y-auto max-h-full select-text" @ref="_consoleScroller" @onscroll="OnConsoleScroll">
            <div id="@($"consoleContentArea{Entity?.Id}")" class="clusterize-content" @ref="_consoleContent">
                <div class="clusterize-no-data">Loading Console...</div>
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public IEntity? Entity { get; set; }

    private List<ConsoleMessage> ConsoleMessages { get; set; } = new();

    private ElementReference _consoleScroller;
    private ElementReference _consoleContent;

    private bool _autoscroll = true;
    private bool _userscroll = true;

    protected override async Task OnInitializedAsync()
    {
        _notificationService.Register<ConsoleAddNotification>(notification =>
        {
            if (notification is ConsoleAddNotification consoleAddNotification)
                return HandleNewConsoleLine(consoleAddNotification);
            Console.Error.WriteLine($"Not a console notification: {notification.ToJson()}");
            return Task.CompletedTask;
        });
    }


    private bool _isFirstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_isFirstRender)
        {
            _isFirstRender = false;
    // TODO CKE initialize console with existing lines (API call)
            for (int i = 0; i < 500; i++)
            {
                ConsoleMessages.Add(new ConsoleMessage($"{Entity?.Name} Message {i}", ConsoleMessageType.UserInput));
            }
            await _js.InvokeVoidAsync("InitConsoleClusterize", ConsoleMessages.Select(ConsoleMessageToHtml).ToList(), _consoleScroller, _consoleContent);
        }
    }

    private async Task HandleNewConsoleLine(ConsoleAddNotification notification)
    {
        ConsoleMessages.Add(notification.NewConsoleMessage);
        await _js.InvokeVoidAsync("AppendToConsole", ConsoleMessageToHtml(notification.NewConsoleMessage), _consoleScroller);
        StateHasChanged();
        if (_autoscroll)
        {
            _userscroll = false;
            await _js.InvokeVoidAsync("ScrollToBottom", _consoleScroller);
            _userscroll = true;
        }
    }

    //TODO Search feature: Use the update method of clusterize to apply new css to found rows and scroll to the found results

    private async Task OnConsoleScroll()
    {
        if (_userscroll)
        {
            _autoscroll = await _js.InvokeAsync<bool>("IsScrolledToBottom", new object[] { _consoleScroller });
        }
    }

    private string ConsoleMessageToHtml(ConsoleMessage message)
    {
        return $"<div class=\"block monospace leading-snug text-sm\">{message.Message}</div>";
    }

}