<div class="navbar">
    @* Icon *@

    @* Options *@
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Servers
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                Settings
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="discord">
                Discord
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="patreon">
                Patreon
            </NavLink>
        </div>
    </nav>
</div>

@code {

}