@import "../../wwwroot/css/colors";

.navbar {
  background-color: $fork-light;
  display: flex;
  justify-content: flex-start;
  padding: 0;

  nav {
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;

    .nav-item ::deep a {
      padding: 10px 15px;
      color: $fork-heading;

      &:hover {
        color: $fork-heading-focus;
      }

      &.active {
        color: $fork-heading-focus;
        border-bottom: 2px solid $fork-blue;
      }
    }
  }
}