<div class="navbar w-full bg-forkBlue-light">
    @* Icon *@

    @* Options *@
    <nav class="flex content-center">
        <div class="p-4">
            <NavLink href="" Match="NavLinkMatch.All">
                Servers
            </NavLink>
        </div>
        <div class="p-4">
            <NavLink href="settings">
                Settings
            </NavLink>
        </div>
        <div class="p-4">
            <NavLink href="discord">
                Discord
            </NavLink>
        </div>
        <div class="p-4">
            <NavLink href="patreon">
                Patreon
            </NavLink>
        </div>
    </nav>
</div>

@code {

}