<div class="sidebar">
    @* Part over server list *@

    @* Server List *@
    <div class="server-list">
        @* Server *@
        <div class="servers">
            @foreach (var entity in Entities)
            {
                <p>@entity.Name</p>
            }
            <!--Virtualize Items="Entities">
            <p>context.Name</p>
            <hr/>
            </Virtualize-->
        </div>

        @* Controls *@
        <div class="controls">
            <IconButton IconChar="'I'" IconSize="19" Size="45"></IconButton>
            <IconButton IconChar="'C'" IconSize="19" Size="45"></IconButton>
        </div>
    </div>
</div>